*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #255EE9;
    text-align: center;
    color: white;
}

nav{
    display: inline-flex;
    justify-content: center;
    margin: 1rem;
    width: 75%;
}

a:link, a:visited, a:active{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

button{
    border-radius: 40px;
    padding: 0.5em 1em;
    border: 0;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .container:nth-of-type(even){
    background-color: rgb(211, 211, 211);
}

footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #23272A;
    /*padding: 2em 14em;*/
}

#logo{
    display: inline-flex;
    align-items: center;
    padding: 1rem;
}

#link{
    flex-grow: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

#login{
    display: inline-flex;
    align-items: center;
    padding: 1rem;
}

#headerbot{
    display: flex;
    justify-content: center;
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5%;
}

#ITPP{
    width: 40%;
    padding: 2em 1em;
    overflow-wrap: break-word;
    font-size: 30px ;
}

#ITPP div{
    margin-top: 40px;
}

#ITPP .bottonebianco{
    margin: 20px 10px 0 0;
}

#bottonenero{
    background-color: #23272A;
    color: white;
    font-size: 20px;
}

#verde{
    background-color: rgb(34, 139, 34);
    padding: 30% 50%;
}

#footertop{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    margin: 1em 14em;
}

#salmon{
    flex-grow: 1.5;
    background-color:  #F08080;
    padding: 25em 0;
}

#footerbot{
    display: flex;
    justify-content: center;
    justify-content:  space-between;
    background-color: #7FFFD4;
    padding: 1em 0;
}

#barra {
    width: 100%;
    padding: 1em 14em;
    border-top: 3px solid grey;

}

.bottonebianco{
    background-color: white;
    font-size: 20px;
}

.container{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2em 14em;
}

.azzurro{
    background-color: rgb(30, 144, 255);
    flex-grow: 4;
    padding: 10%;
}

.rosa{
    background-color: rgb(255, 192, 203);
    flex-grow: 2;
    padding: 10%;
}

.acqua{
    flex-grow: 1;
    background-color: #20B2AA;
    border: 3px dotted white;
    padding: 25em 0;
}

.azzurro, .rosa, #verde, #salmon, #footertop, #footerbot button{
    border: 3px dotted black;
}