*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #255EE9;
    text-align: center;
    color: white;
}

nav{
    display: inline-flex;
    justify-content: center;
    margin: 1rem;
    width: 75%;
}

a:link, a:visited, a:active{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

button{
    border-radius: 40px;
    padding: 0.5em 1em;
    border: 0;
    font-size: 20px;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .container:nth-of-type(even){
    background-color: rgb(211, 211, 211);
}

h2{
    font-size: 64px;
    margin-bottom: 2rem
}

footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #23272A;
    color: white;
}

#logo{
    display: inline-flex;
    align-items: center;
    padding: 1rem;
}

#link{
    flex-grow: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

#login{
    display: inline-flex;
    align-items: center;
    padding: 1rem;
}

#headerbot{
    display: flex;
    justify-content: center;
    background-image: url(../img/jumbo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3.5%;
}

#ITPP{
    width: 40%;
    padding: 2em 1em;
    overflow-wrap: break-word;
    font-size: 30px ;
}

#ITPP div{
    margin-top: 40px;
}

#ITPP .bottonebianco{
    margin: 20px 10px 0 0;
}

#bottonenero{
    background-color: #23272A;
    color: white;
}

#TATC{
    display: inline-flex;
    justify-content: center;
    flex-direction: column;
}

#stella{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 4em;
}

#stella h4{
    font-size: 30px;
}



#footertop{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    padding-top: 2em;
    margin: 1em 14em;
    
}

#social{
    display: inline-flex;
    flex-direction: column;
    flex-grow: 2;
}

#social h4{
    font-size: 40px;
}

#social img, #iconesocial{
    height: 40px;
    font-size: 30px;
}

#footerbot{
    display: flex;
    justify-content: center;
    justify-content:  space-between;
    border-top: 1px solid #7289DA;
    padding: 1em 0;
}

#barra {
    width: 100%;
    padding: 1em 14em;
}

.bottonebianco{
    background-color: white;
}

.container{
    display: flex;
    justify-content: center;
    padding: 2em 14em;
    overflow-wrap: break-word;
}

.immagini{
    flex-grow: 4;
}

.parole{
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-grow: 2;
    overflow-wrap: break-word;
    padding: 0 1em;
    align-items: center;
}

.bottoneazzurro{
    background-color: #7289DA;
    color: white;
}

.risorse{
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    font-size: 30px;
}

.risorse h4, #social h4{
    color: #7289DA;
}